.product_body {
    display: flex;
    margin: 2% var(--left-space);
    gap: 3%;
    max-width: var(--max-width);
}

.product_filter {
    /* flex: 1 1 20%; */
    width: 20%;
    margin-top: 16px;
    margin-left: 5px;
    margin: 0 auto;
}
.search {
    width: 100%;
    margin-top: 16;
}

.search input {
    width: 100%;
    border-radius: 3.5%;
    padding: 10px 10px;
    background-color: var(--theme-color-light-2x);
    font-size: large;
    margin-bottom: 3%;
    margin-top: 16px;
}
.products {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 80%;
}

/* .product_data {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5%;
    width: 100%;
    row-gap: 40px;
} */
.product_data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    /* row-gap: 5%; */
}

.product_info {
    display: flex;
    align-items: center;
}
.product_info hr {
    width: 70%;
    border: none;
    border-top: 1px solid #bcccdc;
    margin: 0 10px;
}

.pagination_container {
    display: flex;
    justify-content: end;
}

.category {
    padding: 16px 0;
}

.category_heading {
    color: var(--theme-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.category_list {
    padding: 0;
    margin: 0;
}

.category_list li {
    list-style-type: none;
    cursor: pointer;
}

.category_list li.selected {
    text-decoration: underline;
}
@media screen and (max-width: 1590px) {
    .product_data {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Media query for small screens */
@media screen and (max-width: 940px) {
    .product_body {
        display: flex;
        flex-direction: column;
    }
    .product_filter {
        width: 100%;
    }
    .products {
        width: 100%;
    }
    .search {
        margin-right: var(--left-space);
    }

    .search input {
        width: 100%;
        /* padding and border of the input are included
        in specified width*/
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    .product_data {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
}
