.cart {
    display: flex;
    align-items: center;
}
.cart span {
    /* display: inline-block; */
    color: black;
    font-size: var(--logo-text-weight);
}
.cart span:hover {
    /* display: inline-block; */
    color: var(--theme-color);
}
.cart span::after {
    content: "";
    margin-left: 5px;
}

/* Media query for small screens */
@media screen and (max-width: 940px) {
    .cart span {
        /* display: inline-block; */
        color: black;
        font-size: 16px;
        padding-left: 5px;
    }
}
