.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    /* min-width: 100px; */
    padding: 5px;
}

a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
}
