.user_container {
    display: flex;
    font-size: var(--logo-text-weight);
}
.user_container button {
    font-size: inherit;
    background-color: inherit;
    border: none;
}
.user_container button:hover {
    color: var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
    cursor: pointer;
}
/* Media query for small screens */
@media screen and (max-width: 940px) {
    .user_container,
    .user_container button,
    .user_container button:hover {
        font-size: 26px;
    }
}
