.about {
    margin: var(--left-space);
    display: flex;
    justify-content: space-between;
}
.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story {
    width: 50%;
    padding-left: 2%;
    /* Include padding in the width calculation */
    /* box-sizing: border-box;  */
}
/* max width means specified width and smaller than that */
@media only screen and (max-width: 940px) {
    .about {
        display: grid;
    }
    .story {
        width: 100%;
        padding: 5% 0;
    }
    .image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .image img {
        width: 100%;
        height: auto;
    }
}
